<header style="display: flex; width: 100%; justify-content: space-between; align-items: center; background-color: #f2f3f4;">
  <p style="padding-inline: 1rem;">Gestão de ideias</p>
  <sl-button style="padding-inline: 1rem;" variant="link" size="small" href="/logout">Sair</sl-button>
</header>

<div class="form-container" style="padding-inline: 1rem;">
  <div class="centro-container">
        <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
          <h2>Todas as ideias:</h2>
           <sl-button href="/create" variant="primary">Criar ideia</sl-button>
        </div>
        <div style="display: flex; width: 100%; gap: 2rem; align-items: center; flex-wrap: wrap;">
          {{#each ideias}}
            <sl-card class="card-overview">
              <strong>{{this.titulo}}</strong><br />
              <small>
                Descrição:
                {{this.descricao}}
              </small><br />
              <small>
                Categoria:
                {{this.categoria}}
              </small><br />
              <small>Autor:
                {{this.autor.nome}}
                ({{this.autor.email}})</small><br />
              <small>Quantidade de votos: {{this.totalVotes}}</small>
              <div slot="footer">
               {{#if this.isOwner}}
  <sl-button
    variant="link"
    onclick="deleteIdea('{{this._id}}')"
  >
    🗑️
  </sl-button>

  <sl-button href="/get/{{this._id}}">✏️</sl-button>
{{/if}}



<form action="/vote" method="POST" style="display:inline;">
  <input type="hidden" name="ideaId" value="{{this._id}}" />

  <sl-button type="submit" variant="{{#if this.userHasVoted}}danger{{else}}primary{{/if}}">
    🗳️{{#if this.userHasVoted}} Remover voto {{else}} Votar {{/if}}
  </sl-button>
</form>


                </sl-button-group>
              </div>
            </sl-card>
          {{/each}}
        </div>
    </sl-tab-group>
  </div>
</div>